:root {
    --color-black: #000000;
    --color-dark: #212121;
    --text-color-grey: #757575;
    --color-blue: #2196F3;

}

.header-navigation {
    background-color: #FFFFFF;
    ;
}

.web {
    color: var(--color-blue);
}

.studio {
    color: var(--color-black);
}

.студія,
.mailto {
    color: var(--color-blue);
}

.портфоліо,
.контакти {
    color: var(--color-dark);
}

.tel {
    color: var(--text-color-grey);
}

.title-light {
    background-color: black;
}

.title-light {
    color: #FFFFFF;
}

.button {
    background-color: #2196F3;
}

.button {
    color: #FFFFFF;
}

.section-text,
.section-images {
    background-color: #F5F5F5;
    ;
}

.section-text,
.section-images .section-photo h2 {
    color: var(--color-dark);
}

.section-text h3 {
    color: var(--color-dark)
}

.section-text p {
    color: var(--text-color-grey);
}